:root {
    --branding-color: #f95959;
    --secondary-color: #e3e3e3;
    --heading-font-family: "Lato", sans-serif;
    --default-font-family:"Fira Sans Condensed", sans-serif;
}

body {
    font-size: var(--default-font-family);
}

h1,h2, h3,h4,h5,h6
{
    color: #000;
    font-family: var(--heading-font-family);
    font-weight: bold;
}


h1{
    font-size:96px;
    line-height: 1.5;
}

h2 {
    font-size: 64px;  
}

h3 {
    font-size: 36px;
}

p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.btn-primary {
    background-color: var(--branding-color) !important;
    border: #f95959 !important;
}

.btn-primary:hover {
    background-color: var(--secondary-color) !important;

}

.hero {
    background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
    text-align: center;
    padding: 80px 20px;
}

img {
    width: 300px;
    height: 400px;
}


nav {
    padding: 20px 0;
    font-weight: bold;
  }
  
  nav ul {
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
  }
  
  nav a {
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
  }
  
  nav a:hover,
  nav li.active a {
    color: #f95959;
  }

  footer {
    margin: 60px 0;
  }

  footer .social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background: var(--secondary-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
  }

  footer .social-links a:hover {
    color: var(--secondary-color);
    background: var(--branding-color);
  }

